amount_tsh - Total static head (amount water available to waterpoint)

date_recorded - The date the row was entered

funder - Who funded the well

gps_height - Altitude of the well

installer - Organization that installed the well

longitude - GPS coordinate

latitude - GPS coordinate

wpt_name - Name of the waterpoint if there is one

num_private -

basin - Geographic water basin

subvillage - Geographic location

region - Geographic location

region_code - Geographic location (coded)

district_code - Geographic location (coded)

lga - Geographic location

ward - Geographic location

population - Population around the well

public_meeting - True/False

recorded_by - Group entering this row of data

scheme_management - Who operates the waterpoint

scheme_name - Who operates the waterpoint

permit - If the waterpoint is permitted

construction_year - Year the waterpoint was constructed

extraction_type - The kind of extraction the waterpoint uses

extraction_type_group - The kind of extraction the waterpoint uses

extraction_type_class - The kind of extraction the waterpoint uses

management - How the waterpoint is managed

management_group - How the waterpoint is managed

payment - What the water costs

payment_type - What the water costs

water_quality - The quality of the water

quality_group - The quality of the water

quantity - The quantity of water

quantity_group - The quantity of water

source - The source of the water

source_type - The source of the water

source_class - The source of the water

waterpoint_type - The kind of waterpoint

waterpoint_type_group - The kind of waterpoint

In [186]:
import pandas as pd

In [187]:
pd.set_option("display.max_columns", None)

In [188]:
training_set_labels = pd.read_csv('data/Training Set Labels.csv')
training_set_labels.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [189]:
training_set_labels['status_group'].value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

In [190]:
training_set_labels['status_group'] = training_set_labels['status_group'].map({'functional' : 1, 'non functional' : 0, 'functional needs repair' : 1})

In [191]:
training_set_labels['status_group'].value_counts()

1    36576
0    22824
Name: status_group, dtype: int64

In [192]:
training_set_values = pd.read_csv('data/Training Set Values.csv')
training_set_values.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [193]:
training_set_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 18.1+ MB

In [194]:
# Combine the training data tables together

training_set_values_labels = training_set_values.merge(training_set_labels, on='id')

In [195]:
training_set_values_labels.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,1
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,1
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,1
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,0
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,1

In [196]:
training_set_values_labels.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [197]:
#training_set_values_labels['scheme_name'].fillna('Unknown', inplace=True)

In [198]:
training_set_values_labels[training_set_values_labels['construction_year'] > 0]['construction_year'].median()

2000.0

In [199]:
median_no_zero = int(training_set_values_labels[training_set_values_labels['construction_year'] > 0]['construction_year'].median())

In [200]:
training_set_values_labels.loc[(training_set_values_labels['construction_year'] == 0),'construction_year'] = median_no_zero

In [201]:
training_set_values_labels.loc[(training_set_values_labels['construction_year'] > training_set_values_labels['date_recorded'].str[:4].astype(int)),'construction_year'] = median_no_zero

In [202]:
training_set_values_labels['age'] = training_set_values_labels['date_recorded'].str[:4].astype(int) - training_set_values_labels['construction_year']

In [203]:
training_set_values_labels['age'].describe()

count    59400.000000
mean        13.997677
std         10.259031
min          0.000000
25%          8.000000
50%         11.000000
75%         16.000000
max         53.000000
Name: age, dtype: float64

In [204]:
training_set_values_labels[training_set_values_labels['age'] < 0]

Empty DataFrame
Columns: [id, amount_tsh, date_recorded, funder, gps_height, installer, longitude, latitude, wpt_name, num_private, basin, subvillage, region, region_code, district_code, lga, ward, population, public_meeting, recorded_by, scheme_management, scheme_name, permit, construction_year, extraction_type, extraction_type_group, extraction_type_class, management, management_group, payment, payment_type, water_quality, quality_group, quantity, quantity_group, source, source_type, source_class, waterpoint_type, waterpoint_type_group, status_group, age]
Index: []

In [205]:
training_set_values_labels.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group,age
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,1,12
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,1,3
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,1,4
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,0,27
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,2000,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,1,11

In [206]:
training_set_values_labels['permit'] = training_set_values_labels['permit'].astype(str)

In [207]:
# Drop name of water pump and name of who recorded the data, almost all of num_private is 0 (don't have description)
# Drop waterpoint_type_group since waterpoint_type is the same but with more specification
# scheme_name has same description as scheme_management
# Drop date_recorded and contruction year since we have age column
# Drop extraction_type_class and extraction_type_group 
# Drop source_type
# Drop region, subvillage, lga, ward, keeping lat, long, region_code, and district_code for location
# Drop payment_type, same as payment
# Drop quantity_group, same as quantity
# Drop management_group, management is more specific
training_set_values_labels.drop(['id', 'wpt_name', 'recorded_by', 'num_private', 'waterpoint_type_group', 'scheme_name',
                                 'date_recorded', 'construction_year', 'extraction_type_class', 'extraction_type_group',
                                 'source_type', 'region', 'subvillage', 'lga', 'ward', 'payment_type', 'quantity_group',
                                 'management_group', 'public_meeting'
                                ], axis=1, inplace=True)

In [208]:
training_set_values_labels.isna().sum()

amount_tsh              0
funder               3635
gps_height              0
installer            3655
longitude               0
latitude                0
basin                   0
region_code             0
district_code           0
population              0
scheme_management    3877
permit                  0
extraction_type         0
management              0
payment                 0
water_quality           0
quality_group           0
quantity                0
source                  0
source_class            0
waterpoint_type         0
status_group            0
age                     0
dtype: int64

In [209]:
training_set_values_labels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   amount_tsh         59400 non-null  float64
 1   funder             55765 non-null  object
 2   gps_height         59400 non-null  int64
 3   installer          55745 non-null  object
 4   longitude          59400 non-null  float64
 5   latitude           59400 non-null  float64
 6   basin              59400 non-null  object
 7   region_code        59400 non-null  int64
 8   district_code      59400 non-null  int64
 9   population         59400 non-null  int64
 10  scheme_management  55523 non-null  object
 11  permit             59400 non-null  object
 12  extraction_type    59400 non-null  object
 13  management         59400 non-null  object
 14  payment            59400 non-null  object
 15  water_quality      59400 non-null  object
 16  quality_group      59400 non-null  object
 17  quantity           59400 non-null  object
 18  source             59400 non-null  object
 19  source_class       59400 non-null  object
 20  waterpoint_type    59400 non-null  object
 21  status_group       59400 non-null  int64
 22  age                59400 non-null  int64
dtypes: float64(3), int64(6), object(14)
memory usage: 10.9+ MB

In [210]:
training_set_values_labels.fillna('Unknown', inplace=True)

In [211]:
training_set_values_labels.isna().sum()

amount_tsh           0
funder               0
gps_height           0
installer            0
longitude            0
latitude             0
basin                0
region_code          0
district_code        0
population           0
scheme_management    0
permit               0
extraction_type      0
management           0
payment              0
water_quality        0
quality_group        0
quantity             0
source               0
source_class         0
waterpoint_type      0
status_group         0
age                  0
dtype: int64

In [212]:
training_set_values_labels

,amount_tsh,funder,gps_height,installer,longitude,latitude,basin,region_code,district_code,population,scheme_management,permit,extraction_type,management,payment,water_quality,quality_group,quantity,source,source_class,waterpoint_type,status_group,age
0,6000.0,Roman,1390,Roman,34.938093,-9.856322,Lake Nyasa,11,5,109,VWC,False,gravity,vwc,pay annually,soft,good,enough,spring,groundwater,communal standpipe,1,12
1,0.0,Grumeti,1399,GRUMETI,34.698766,-2.147466,Lake Victoria,20,2,280,Other,True,gravity,wug,never pay,soft,good,insufficient,rainwater harvesting,surface,communal standpipe,1,3
2,25.0,Lottery Club,686,World vision,37.460664,-3.821329,Pangani,21,4,250,VWC,True,gravity,vwc,pay per bucket,soft,good,enough,dam,surface,communal standpipe multiple,1,4
3,0.0,Unicef,263,UNICEF,38.486161,-11.155298,Ruvuma / Southern Coast,90,63,58,VWC,True,submersible,vwc,never pay,soft,good,dry,machine dbh,groundwater,communal standpipe multiple,0,27
4,0.0,Action In A,0,Artisan,31.130847,-1.825359,Lake Victoria,18,1,0,Unknown,True,gravity,other,never pay,soft,good,seasonal,rainwater harvesting,surface,communal standpipe,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,10.0,Germany Republi,1210,CES,37.169807,-3.253847,Pangani,3,5,125,Water Board,True,gravity,water board,pay per bucket,soft,good,enough,spring,groundwater,communal standpipe,1,14
59396,4700.0,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Rufiji,11,4,56,VWC,True,gravity,vwc,pay annually,soft,good,enough,river,surface,communal standpipe,1,15
59397,0.0,Unknown,0,Unknown,34.017087,-8.750434,Rufiji,12,7,0,VWC,False,swn 80,vwc,pay monthly,fluoride,fluoride,enough,machine dbh,groundwater,hand pump,1,11
59398,0.0,Malec,0,Musa,35.861315,-6.378573,Rufiji,1,4,0,VWC,True,nira/tanira,vwc,never pay,soft,good,insufficient,shallow well,groundwater,hand pump,1,11
59399,0.0,World Bank,191,World,38.104048,-6.747464,Wami / Ruvu,5,2,150,VWC,True,nira/tanira,vwc,pay when scheme fails,salty,salty,enough,shallow well,groundwater,hand pump,1,9

In [213]:
from sklearn.model_selection import train_test_split

X = training_set_values_labels.drop('status_group', axis=1)
y = training_set_values_labels['status_group']

X_train, X_test, y_train ,y_test = train_test_split(X, y, test_size=0.25, random_state=42)

## DummyClassifier

In [214]:
y_train.value_counts()

1    27404
0    17146
Name: status_group, dtype: int64

In [215]:
y_train.value_counts(normalize=True)

1    0.615129
0    0.384871
Name: status_group, dtype: float64

In [216]:
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import auc, roc_curve

# lr = LogisticRegression(random_state=42)

# y_score = lr.fit(X_train, y_train).decision_function(X_test)

# fpr, tpr, thresholds = roc_curve(y_test, y_score)
# auc(fpr, tpr)

In [217]:
# from sklearn.dummy import DummyClassifier
# from sklearn.metrics import auc, roc

# dummy_model = DummyClassifier(strategy="most_frequent")

# dummy_model.fit(X_train, y_train)

# y_hat_test = dummy_model.predict(X_test)

# y_score = dummy_model.decision_function(X_test)

# fpr, tpr, thresholds = roc_curve(y_test, y_score)

# auc(fpr, tpr)

In [218]:
# from sklearn.model_selection import cross_val_score
from sklearn.dummy import DummyClassifier
from sklearn.model_selection import cross_validate

dummy_model = DummyClassifier(strategy="most_frequent")

cv_results = cross_validate(dummy_model, X_train, y_train, return_train_score=True)

In [219]:
average_test_score = cv_results['test_score'].mean()
average_test_score

0.6151290684624018

## Logistic

In [220]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44550 entries, 24947 to 56422
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   amount_tsh         44550 non-null  float64
 1   funder             44550 non-null  object
 2   gps_height         44550 non-null  int64
 3   installer          44550 non-null  object
 4   longitude          44550 non-null  float64
 5   latitude           44550 non-null  float64
 6   basin              44550 non-null  object
 7   region_code        44550 non-null  int64
 8   district_code      44550 non-null  int64
 9   population         44550 non-null  int64
 10  scheme_management  44550 non-null  object
 11  permit             44550 non-null  object
 12  extraction_type    44550 non-null  object
 13  management         44550 non-null  object
 14  payment            44550 non-null  object
 15  water_quality      44550 non-null  object
 16  quality_group      44550 non-null  object
 17  quantity           44550 non-null  object
 18  source             44550 non-null  object
 19  source_class       44550 non-null  object
 20  waterpoint_type    44550 non-null  object
 21  age                44550 non-null  int64
dtypes: float64(3), int64(5), object(14)
memory usage: 7.8+ MB

In [263]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_validate, GridSearchCV
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

categorical_cols = X_train.select_dtypes('object')
numerical_cols = X_train.select_dtypes(exclude=['object'])

categorical_pipeline = Pipeline(steps=[('ohe', OneHotEncoder(handle_unknown='ignore'))])

numerical_pipeline = Pipeline(steps=[('ss', StandardScaler())])

# col_trans = ColumnTransformer(transformers=[('ohe', OneHotEncoder(handle_unknown='ignore'), categorical_cols)],
#                               remainder='passthrough')

trans = ColumnTransformer(transformers=[
    ('numerical', numerical_pipeline, numerical_cols.columns),
    ('categorical', categorical_pipeline, categorical_cols.columns)
])


base_pipline = Pipeline(steps=[('trans', trans),
                              ('model', LogisticRegression(random_state=42))])
#base_pipline

grid = {'model__C' : [0.5, 1, 50],
       'model__max_iter' : [1750, 2000],
       'model__class_weight': [None, 'balanced', 0.25],
       'model__tol' : [0.0001, 0.01, 0.1]}

gs = GridSearchCV(base_pipline, grid, cv=3)

In [264]:
gs.fit(X_train, y_train)

GridSearchCV(cv=3,
             estimator=Pipeline(steps=[('trans',
                                        ColumnTransformer(transformers=[('numerical',
                                                                         Pipeline(steps=[('ss',
                                                                                          StandardScaler())]),
                                                                         Index(['amount_tsh', 'gps_height', 'longitude', 'latitude', 'region_code',
       'district_code', 'population', 'age'],
      dtype='object')),
                                                                        ('categorical',
                                                                         Pipeline(steps=[('ohe',
                                                                                          OneHotEncoder(handle_unknown='ignore'))]),
                                                                         Index([...ent', 'permit',
       'extraction_type', 'management', 'payment', 'water_quality',
       'quality_group', 'quantity', 'source', 'source_class',
       'waterpoint_type'],
      dtype='object'))])),
                                       ('model',
                                        LogisticRegression(random_state=42))]),
             param_grid={'model__C': [0.5, 1, 50],
                         'model__class_weight': [None, 'balanced', 0.25],
                         'model__max_iter': [1750, 2000],
                         'model__tol': [0.0001, 0.01, 0.1]})

In [265]:
gs.best_params_

{'model__C': 1,
 'model__class_weight': None,
 'model__max_iter': 1750,
 'model__tol': 0.0001}

In [266]:
gs.score(X_test, y_test)

0.8144107744107744

In [225]:
cv = cross_validate(base_pipline, X_train, y_train, return_train_score=True)
cv['train_score'].mean()

0.8278170594837262

In [224]:
cv['test_score'].mean()

0.8163187429854096